.landing-top{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30vh;
}
.landing-reader-writer{
  color: rgb(102, 4, 102);
  font-weight: 400;
  transition: 0.5s;
  border-radius: 12px;
  padding: 0.5vmax 0.5vmax;
  font-size: 1.1vmax;
  letter-spacing: 1.5px;
  color: rgb(255, 242, 255);
  cursor: pointer;
  margin-top: 20vmin;
  margin-left: 1.8vw;
  text-transform: capitalize;
  background-color: rgb(82, 12, 85);
  border: solid 1px rgb(49, 0, 71);
}

.landing-reader-writer:hover {
    background-color: rgba(126, 31, 121, 0.699);
    color: rgb(214, 214, 214);
    cursor: pointer;
    transform: scale(1.1);
    border:none
  }