.Add {
  z-index: 2;
  font-family: "Assistant", sans-serif;
  padding: 15vh 1vh;
  max-width: auto;
  min-width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-gap: 4vh;
  
}

.cardd {
  box-shadow: 6px 6px 6px rgba(51, 0, 58, 0.541);
  border: solid 1px white;
  color: rgba(251, 251, 251, 0.856);
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 40vmax;
  max-width: 18vw;
  min-width: 18vw;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  background-color: rgba(255, 255, 255, 0.938);
  background: url(./back.png) no-repeat;
  background-size: cover;
}
.cover-img {
  max-width: 100%;
  height: auto;
  padding: 0px 0px;
  border-radius: 10px 10px 0 0;
}

.cardd:hover {
  transform: scale(1.05);
  filter:contrast(120%);
}

.display-heading,
.display-sub {
  color: #292929;
  font-size: 1.8vmax;
  padding: 0px 0px;
  font-family: "Assistant", sans-serif;
  background-color:transparent;
  letter-spacing: 1px;
  border: none;
  height: 8vmax;
  max-width: 14vw;
  min-width: 12vw;
  overflow: hidden;
  resize: none;
  text-align: start;
  margin-left: 0px;
  margin-top: 0px !important;
  margin: 0px 1px 2px 0px;
}
.display-sub {
  font-size: 1.2vmax;
  color: #464545;
  height: 3vmax !important;

}
