@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Zen+Loop&display=swap');
.article-save {
  display: flex;
  justify-content: center;
  align-items: center;
}

.waiting {
  width:auto;
  font-size: 3vw;
  color: rgb(55, 1, 59);
  text-transform: capitalize;
  font-family: 'Quicksand', sans-serif;
  line-height: 4vmax;
  margin-top: 400px;
  align-self: center;
  background: url(./bu.gif);

  background-repeat:no-repeat;
  background-size:cover;
  height: 200px;
  justify-self: center;
  padding-top: 70px;
  /* padding-left: 100px; */
  /* padding-right: 100px; */
  padding-top: 80px;
  padding-bottom: 80px;
  border-radius: 20px;
  background-color: transparent;
 
}
.save-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-button{
 
  padding: 1vmax 1vmax;
  margin-top: 12vh;
  border: none;
  background-color: rgb(82, 12, 85);
  border-radius: 4px;
  color: aliceblue;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font-size: larger;
  margin-left: -70px;

}
.back-button:active {
    box-shadow: 2px 2px 12px rgb(91, 12, 143);
    transform: translateY(2px);
    cursor: pointer;
  }