@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

 .iframely-embed {
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 z-index: 0;
	
}
 #app {
	 z-index: 1;
}
 #app:hover {
	 opacity: 2;
}
 #app {
	 display: grid;
	 grid-template-columns: 1fr 4fr;
	 align-items: center;
	 padding-bottom: 0;
	 height: 60vh;
	 width: 100%;
	
	 color: #363131;
}


 .title {
	 padding-left: 2em;
	 grid-column: 1;
	 grid-row: 1;
	 font-family: 'Merienda', cursive;
	 font-size: 4vw;
	 width: 100%;
	 z-index: 2;
	
}
 .title > .title-inner {
	 display: inline-block;
}
 @keyframes text-clip {
	 from {
		 clip-path: polygon(0% 100%, 80% 100%, 100% 100%, 0% 100%);
	}
	 to {
		 clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}
 @keyframes outer-left {
	 from {
		 transform: translateX(60%);
	}
	 to {
		 transform: none;
	}
}
 @keyframes inner-left {
	 from {
		 transform: translateX(-60%);
	}
	 to {
		 transform: none;
	}
}
 .cafe, .mozart {
	 animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
}
 .title-inner {
	 display: inline-block;
	 animation: inner-left 1s 1s ease both;
}
 .cafe-inner {
	 display: inline-block;
	 animation: inner-left 1s 1s ease both, text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}
 .mozart-inner {
	 animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}
 .title {
	 animation: outer-left 1s 1s ease both;
}
 .cafe > .cafe-inner {
	 display: inline-block;
}
 .mozart {
	 display: inline-block;
}
 .image {
	 grid-row: 1;
	 grid-column: 2;
	 margin-left: 4rem;
	 opacity: 1;
	 animation: image-in 1s cubic-bezier(0.5, 0.5, 0.1, 1) 2s backwards;
}
 @keyframes image-in {
	 from {
		 clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
	 to {
		 clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}
 .image img {
	 display: block;
	 min-width: 80%;
    z-index: 200;
	 height: auto;
}
 body:active * {
	 animation: none !important;
}
 


  

